* {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

/* Donation prompt  */
.prompt-container {
  padding: 0.5rem;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #fff;
  margin: 0.7rem 0;
  text-align: center;
  font-weight: bold;
}
.prompt-container p {
  margin: 0.5rem 0;
  line-height: 2rem;
}
.prompt-container .prompt {
  font-size: larger;
  margin: 1rem 0;
}
.prompt-container .donate-title {
  margin: 0.3rem 0;
}
.prompt-container .donate-button {
  margin: 0 auto 1rem auto;
}

/* Header  */
.head-container {
  text-align: center;
  padding: 0.5rem;
}
.head-container a {
  color: #000;
}

/*This part is for footer*/
footer {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 0;
}
footer p {
  margin: 0.5rem 0;
}
footer a {
  color: #000;
}
