* {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

/* Header  */
.head-container {
  text-align: center;
  border: 3px dashed black;
  background-color: #fff;
  padding: 0.5rem;
}
.head-container a {
  color: #000;
  text-decoration: none;
}
.head-container h3 {
  text-align: center;
  font-size: 22px;
}

/*This part is for footer*/
footer {
  text-align: center;
  font-weight: bold;
}
footer .prompt-container {
  padding: 0.5rem;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #fff;
  margin: 0.3rem 1rem 1rem 1rem;
}
footer p {
  margin: 0.5rem 0;
}
footer .prompt {
  font-size: larger;
  margin: 1rem 0;
}
footer .donate-title {
  margin: 0.3rem 0;
}
footer .donate-button {
  margin: 0 auto 1rem auto;
}
footer a {
  color: #000;
}
