.lyric-grid-container {
  width: 300px;

  /* Disable double tap to zoom on mobile */
  touch-action: none;

  /* Disabling copy */
  user-select: none;
  -webkit-user-select: none;
}

.lyric-grid-container p {
  font-weight: bold;
}

.lyric-grid-one,
.lyric-grid-two,
.lyric-grid-three,
.lyric-grid-four {
  border-radius: 10px;
  padding: 0.3rem;
  display: grid;
  position: absolute;
  background-color: white;
  border: 3px solid black;
  width: 300px;
  height: 110px;
}

/* First lyric */
.lyric-grid-one {
  z-index: 4;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
}

/* Second lyric */
.lyric-grid-two {
  z-index: 3;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
}

/* Third lyric */
.lyric-grid-three {
  z-index: 2;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}

/* Fourth lyric */
.lyric-grid-four {
  z-index: 1;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.lyric-box-one,
.lyric-box-two,
.lyric-box-three,
.lyric-box-four,
.lyric-box-five,
.lyric-box-six,
.lyric-box-seven,
.lyric-box-eight {
  background-color: silver;
  border-radius: 5px;
  padding: 0.2rem;
  margin-top: 5%;
}
