body {
  background-color: #ffc0cb;
}

.head-container {
  text-align: center;
  border: none;
  padding: 0.5rem;
  background-color: #ffc0cb;
}

main {
  margin: 1rem;
}

form {
  padding: 0.5rem;
  border-radius: 10px;
  border: 3px solid #000;
  background-color: #fff;
  text-align: center;
}
form p {
  font-size: x-large;
  text-align: center;
  margin-bottom: 0.5rem;
}
form .inputs {
  margin: 1rem 0.5rem;
  text-align: left;
}
form .inputs div {
  margin: 1.2rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form label {
  font-weight: bold;
}
form input,
textarea {
  width: 100%;
  border-radius: 5px;
  padding: 9px;
  margin-left: 1rem;
  border: 2px solid #000;
  font-size: 1rem;
  background-color: #f6f6f6;
}
form input[type="file"] {
  font-size: 0.7rem;
}
form #submit-button {
  color: #000;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffc0cb;
  margin: 1rem auto;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  box-shadow: 1px 5px 10px 2px #000;
  border: 1px solid #000;
}
form #submit-button:active {
  box-shadow: none;
}

form #submit-response {
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  word-break: break-all;
  margin: 0 1rem;
}
