* {
  padding: 0;
  margin: 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  width: max-content;
  text-align: center;
}

.head-container {
  border: 3px dashed black;
}

.head-container h3 {
  padding: 1% 0%;
  text-align: center;
  font-size: 22px;
}

/*This part is for avatar*/
.avatar {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#avatar {
  border-radius: 100%;
}

/*This part is for piano*/
.piano-container {
  padding-bottom: 5%;
}

.piano {
  display: inline-flex;
  width: 100%;
}

#f,    /*These are for all keys in piano*/
  #g,
  #a,
  #b,
  #c,
  #d,
  #e,
  #f-high,
  #g-high,
  #a-high,
  #b-high {
  cursor: pointer;
  background-color: white;
  width: 20%;
  height: 100px;
  position: relative;
  left: 12%;
}

#f,             /*These are for piano key's border*/
  #g,
  #a,
  #b,
  #c,
  #d,
  #e,
  #f-high,
  #g-high,
  #a-high {
  border-right: 2px solid black;
}

.piano p {
  /*This is for the letters in the piano key*/
  position: relative;
  top: 67%;
}

#black-key-one,             /*This is for black keys*/
  #black-key-two,
  #black-key-three,
  #black-key-four,
  #black-key-five,
  #black-key-six,
  #black-key-seven,
  #black-key-eight {
  position: relative;
  height: 60px;
  width: 30px;
  cursor: pointer;
  border: 2px solid black;
  background-color: black;
  right: 56.6%;
}

#black-key-two {
  right: 53.5%;
}

#black-key-three {
  right: 50%;
}

/*This is C sharp*/
#black-key-four {
  right: 39.6%;
}

#black-key-five {
  right: 36.3%;
}

#black-key-six {
  right: 26%;
}

#black-key-seven {
  right: 22.5%;
}

#black-key-eight {
  right: 19%;
}

/* This part is for introduction pop-up screen */
/*This is for smartphone responsive*/
@media only screen and (max-width: 670px) {
  .intro-popup {
    z-index: 1000;
    position: absolute;
    border: 3px black solid;
    border-radius: 12px;
    width: 300px;
    height: 132px;
    text-align: center;
    background-color: white;
    bottom: 40%;
    left: 13%;
  }

  #intro-name h5,
  #intro-name input,
  #intro-name button {
    margin-top: 5%;
  }

  #intro-instruction h5,
  #intro-instruction button {
    margin-top: 5%;
  }
}

/*This is for tablet responsive*/
@media only screen and (min-width: 671px) {
  .intro-popup {
    z-index: 1000;
    position: absolute;
    border: 3px black solid;
    border-radius: 12px;
    width: 300px;
    height: 132px;
    text-align: center;
    background-color: white;
    bottom: 65%;
    left: 32%;
  }

  #intro-name h5,
  #intro-name input,
  #intro-name button {
    margin-top: 5%;
  }

  #intro-instruction h5,
  #intro-instruction button {
    margin-top: 5%;
  }
}

/*This is for PC responsive*/
@media only screen and (min-width: 1200px) {
  .intro-popup {
    z-index: 1000;
    position: absolute;
    border: 3px black solid;
    border-radius: 12px;
    width: 300px;
    height: 132px;
    text-align: center;
    background-color: white;
    bottom: 50%;
    left: 39%;
  }

  #intro-name h5,
  #intro-name input,
  #intro-name button {
    margin-top: 5%;
  }

  #intro-instruction h5,
  #intro-instruction button {
    margin-top: 5%;
  }
}

/*This part is for the quote-container*/
.quote-container {
  text-align: center;
  position: relative;
  z-index: 1000;
  height: 150px;
  width: 300px;
  border: 3px solid black;
  background-color: white;
  padding: 2% 2%;
  font-weight: bold;
  display: none;
}

#gift {
  padding-top: 5%;
  cursor: pointer;
  font-style: italic;
}

#author {
  padding-top: 2%;
}

/*This part is for footer*/
footer {
  padding: 30% 0%;
  text-align: center;
  font-weight: bold;
}
