@import url("./global.css");

* {
  margin: 0 auto;
}

body {
  width: fit-content;
  text-align: center;
}

/*This part is for avatar*/
.avatar {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#avatar {
  border-radius: 100%;
}

/*This part is for piano*/
.piano-container {
  padding-bottom: 5%;
  width: fit-content;

  /* Disable double tap to zoom on mobile */
  touch-action: none;

  /* Disabling copy */
  user-select: none;
  -webkit-user-select: none;
}

.piano {
  display: inline-flex;
  width: 100%;
}

#f,    /*These are for all keys in piano*/
  #g,
  #a,
  #b,
  #c,
  #d,
  #e,
  #f-high,
  #g-high,
  #a-high,
  #b-high {
  cursor: pointer;
  background-color: white;
  width: 20.7%;
  height: 140px;
  position: relative;
  left: 12%;
  box-shadow: 1px 8px 15px 2px #000;
}

#f {
  border-radius: 10px 0px 0px 10px;
}
#b-high {
  border-radius: 0px 10px 10px 0px;
}

#f,             /*These are for piano key's border*/
  #g,
  #a,
  #b,
  #c,
  #d,
  #e,
  #f-high,
  #g-high,
  #a-high {
  border-right: 2px solid black;
}

/*This is for the letters in the piano key*/
.piano p {
  position: relative;
  top: 61%;
  pointer-events: none;
}

#black-key-one,             /*This is for black keys*/
  #black-key-two,
  #black-key-three,
  #black-key-four,
  #black-key-five,
  #black-key-six,
  #black-key-seven,
  #black-key-eight {
  position: relative;
  height: 80px;
  width: 35px;
  cursor: pointer;
  border: 2px solid black;
  background-color: black;
  right: 56.6%;
  border-radius: 0 0 4px 4px;
}

#black-key-two {
  right: 53.5%;
}

#black-key-three {
  right: 50%;
}

/*This is C sharp*/
#black-key-four {
  right: 39.6%;
}

#black-key-five {
  right: 36.3%;
}

#black-key-six {
  right: 26%;
}

#black-key-seven {
  right: 22.5%;
}

#black-key-eight {
  right: 19%;
}

.lyric-title {
  /* Disable double tap to zoom on mobile */
  touch-action: none;

  /* Disabling copy */
  user-select: none;
  -webkit-user-select: none;
}

/*This part is for the quote-container*/
.quote-container {
  text-align: center;
  height: 150px;
  width: 300px;
  border: 3px solid black;
  background-color: white;
  padding: 2% 2%;
  font-weight: bold;
  display: none;
  border-radius: 10px;
}

#gift {
  padding-top: 5%;
  cursor: pointer;
  font-style: italic;
}

#author {
  padding-top: 2%;
}
