* {
  padding: 0;
  margin: 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: #faff01;
}

.head-container {
  background-color: #ffe600;
  text-align: center;
}

/*This part is for avatar*/
.avatar {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

#avatar {
  border-radius: 100%;
}

/*This part is for piano*/
.piano-container {
  text-align: center;
}

.piano {
  display: inline-flex;
  height: 100px;
  padding-bottom: 3%;
}

#f,    /*These are for all keys in piano*/
#g,
#a,
#b,
#c,
#d,
#e,
#f-high,
#g-high,
#a-high,
#b-high {
  cursor: pointer;
  background-color: white;
  width: 20px;
  margin: 0%;
  position: relative;
  left: 15%;
}

#f,             /*These are for piano key's border*/
#g,
#a,
#b,
#c,
#d,
#e,
#f-high,
#g-high,
#a-high {
  border-right: 2px solid black;
}

.piano p {
  /*This is for the letters in the piano key*/
  position: relative;
  top: 75%;
  /* text-align: center; */
}

#black-key-one,             /*This is for black keys*/
#black-key-two,
#black-key-three,
#black-key-four,
#black-key-five,
#black-key-six,
#black-key-seven,
#black-key-eight {
  position: relative;
  height: 60px;
  width: 10px;
  cursor: pointer;
  border: 2px solid black;
  background-color: black;
  right: 49%;
}

#black-key-two {
  right: 46.6%;
}

#black-key-three {
  right: 44.5%;
}

/*This is C sharp*/
#black-key-four {
  right: 36%;
}

#black-key-five {
  right: 34%;
}

#black-key-six {
  right: 25%;
}

#black-key-seven {
  right: 23%;
}

#black-key-eight {
  right: 21%;
}

/*This part is for lyric*/
.lyric-box {
  display: grid;
  background-color: white;
  border: 3px solid black;
}

/*This part is for footer*/
footer {
  padding-top: 3%;
  text-align: center;
  font-weight: bold;
}
